@font-face {
  font-family: "montserrat-regular";
  src: url(assets/font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "montserrat-medium";
  src: url(assets/font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "montserrat-bold";
  src: url(assets/font/Montserrat-Bold.ttf);
}

@mixin montserratBold() {
  font-family: "montserrat-bold", sans-serif;
}
@mixin montserratMed() {
  font-family: "montserrat-medium", sans-serif;
}

@mixin med36() {
  @include montserratMed;
  font-size: 36px;
}
@mixin med24() {
  @include montserratMed;
  font-size: 24px;
}
@mixin med18() {
  @include montserratMed;
  font-size: 18px;
}
@mixin med14() {
  @include montserratMed;
  font-size: 14px;
}
@mixin med12() {
  @include montserratMed;
  font-size: 12px;
}

* {
  font-family: "montserrat-medium", sans-serif;
}

$main-color: #ff6060;

.marginComponent {
  max-width: 1440px;
  padding-left: 45px;
  padding-right: 45px;
  margin: auto;
  @media (max-width: 600px) {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 45px;
  img {
    width: 210px;
  }
  @media (max-width: 600px) {
    padding: 20px;
    img {
      width: 145px;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;

  &__lien {
    display: inline;
    margin-left: 57px;
    @include med24;

    @media (max-width: 600px) {
      margin-left: 26px;
      @include med12;
      text-transform: uppercase;
    }

    &--active {
      text-decoration: underline 2px;
    }
  }
}

ul {
  padding: 0;
  a {
    color: black;
    text-decoration: none;
  }
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 66px;
  padding-bottom: 29px;
  @include med24;
  width: 100vw;
  /*
  position:absolute;
  bottom:0;
  */
  img {
    width: 122px;
    margin-bottom: 20px;
  }
  @media (max-width: 600px) {
    padding-bottom: 58px;
    img {
      margin-bottom: 10px;
    }
    p {
      @include med12;
      width: 35%;
      margin: auto;
    }
  }
}

#bloc404 {
  color: $main-color;
  text-align: center;
  margin-bottom: 139px;
  @media (max-width: 600px) {
    margin-top: 80px;
    margin-bottom: 110px;
  }
  h1 {
    @include montserratBold;
    font-weight: normal;
    margin: 0;
    font-size: 288px;
    @media (max-width: 600px) {
      font-size: 96px;
    }
  }
  h2 {
    @include med36;
    margin-top: 70px;
    margin-bottom: 100px;
    @media (max-width: 600px) {
      @include med18;
      margin-top: 70px;
      margin-bottom: 100px;
    }
  }
  a {
    color: black;
    @include med18;
    @media (max-width: 600px) {
      @include med14;
    }
  }
}

.banner {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 25px;
  @media (max-width: 600px) {
    border-radius: 10px;
  }
  h1 {
    font-size: 48px;
    @include montserratBold;
    text-align: center;
    padding-top: 78px;
    padding-bottom: 78px;
    margin: 0;
    @media (max-width: 600px) {
      font-size: 24px;
      text-align: left;
      padding-top: 31px;
      padding-bottom: 31px;
      padding-left: 16px;
    }
  }
}

.banner__home {
  // darken()
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/assets/img/paysage-ile.jpg);
  background-size: cover;
  background-position: center;
  background-color: black;
}

.banner__about {
  // darken()
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url(/assets/img/paysage-montagne.jpg);
  background-size: cover;
  background-position: center;
  background-color: black;
  h1 {
    opacity: 0;
  }
}

#listCard {
  background-color: #f6f6f6;
  margin-top: 43px;
  margin-bottom: 50px;
  padding: 56px 50px 43px 50px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  @media (max-width: 600px) {
    background-color: white;
    margin-top: 22px;
    margin-bottom: 27px;
    padding: 0px;
    gap: 20px;
    a {
      width: 100%;
    }
  }
  article {
    background-size: cover;
    position: relative;
    width: 340px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    @media (max-width: 600px) {
      width: 100%;
      aspect-ratio: 4 / 3;
    }
    h3 {
      position: absolute;
      @include med18;
      padding: 20px;
      margin: 0;
      bottom: 0;
      color: white;
    }
  }
}

.sectionDropdown {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 38px;
  @media (max-width: 600px) {
    margin-top: 19px;
  }
}

.dropdown {
  margin-bottom: 30px;
  width: 80%;
}

.dropdown__top {
  display: flex;
  justify-content: space-between;
  background-color: $main-color;
  color: white;
  border-radius: 5px;
  padding: 10px 15px 8px 15px;
  @include montserratBold;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 0px;
  h3 {
    margin: 0;
  }
  img {
    width: 32px;
    transition: transform 400ms;
  }
  @media (max-width: 600px) {
    font-size: 13px;
    width: 100%;
    margin-bottom: 19px;
    img {
      width: 24px;
    }
  }
}

.dropdown__bot {
  margin-top: 0px;
  transition: margin-top 300ms, opacity 500ms, height 500ms;

  background-color: rgba(246, 246, 246, 0.45);
  line-height: 26px;
  margin-bottom: 30px;
  @include med18;
  p {
    padding: 16px 20px 20px 20px;
    margin: 0;
    transition: all 500ms;
    /*    transition-delay: 400ms;*/
  }
  ul {
    padding: 16px 20px 20px 20px;
    margin: 0;
    margin-top: -50px;
    li {
      text-decoration: none;
      list-style-type: none;
    }
  }
}

.topOpen {
  transform: rotate(180deg);
}
.topClose {
  transform: rotate(0deg);
}

.botOpen {
  visibility: visible;
  opacity: 1;
  height: 100%;
}
.botClose {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.botOpenP {
  margin-top: -30px;
}
.botCloseP {
  margin-top: 0px;
}

.slider {
  position: relative;
  max-width: 1440px;
  border-radius: 25px;
  height: 415px;
  color: white;
  margin: auto;
  @include med18;
  @media (max-width: 600px) {
    height: 255px;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.slider__imgContainer {
  margin: auto;
  width: 100%;
  height: 415px;
  display: flex;
  overflow: hidden;
  border-radius: 25px;
  scroll-behavior: smooth;
  img {
    min-width: 100%;
    object-fit: cover;
  }
}

.slider__ui {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 415px;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0;
  margin: 0;
  img {
    width: 45px;
    cursor: pointer;
    margin-left: 24px;
    margin-right: 24px;
  }
  p {
    display: flex;
    justify-content: center;
    margin-top: 350px;
    text-align: center;
    color: white;
  }
  @media (max-width: 600px) {
    top: 92px;
    img {
      width: 12px;
    }
    p {
      display: none;
    }
  }
}

.blocLogement__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 50px;
  @media (max-width: 600px) {
    margin-top: 15px;
    margin-bottom: 50px;
  }
}

.blocLogement__title {
  @include med18;
  width: 70%;
  h1 {
    @include med36;
    margin: 0;
    color: $main-color;
  }
  p {
    margin-top: 8px;
    margin-bottom: 20px;
  }
  @media (max-width: 600px) {
    width: 100%;
    @include med14;
    h1 {
      @include med18;
    }
  }

  &__tags {
    display: flex;
    gap: 10px;
    p {
      background-color: $main-color;
      border: 0;
      @include montserratBold;
      font-size: 14px;
      color: white;
      padding-top: 3px;
      padding-bottom: 3px;
      border-radius: 10px;
      width: 115px;
      text-align: center;
      @media (max-width: 600px) {
        font-size: 10px;
        width: 84px;
      }
    }
  }
}

.blocLogement__hote {
  color: $main-color;
  @include med18;
  img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
  }
  @media (max-width: 600px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 16px;
    @include med12;
    img {
      width: 32px;
      height: 32px;
    }
  }

  &__nom {
    display: flex;
    justify-content: end;
    gap: 10px;
    text-align: right;
    align-items: center;
    p {
      margin: 0;
    }
  }

  &__note {
    margin-top: 21px;
    img {
      width: 36px;
      height: 36px;
    }
    @media (max-width: 600px) {
      margin-top: 0px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.blocLogement__bot {
  display: flex;
  gap: 76px;
}
